<%= layout('layouts/boilerplate') %>




    <head>
        <link rel="stylesheet" href="stylesheets/nicepage.css" media="screen">
        <link rel="stylesheet" href="stylesheets/event-page.css" media="screen">
        <script class="u-script" type="text/javascript" src="scripts/nicepage.js" defer=""></script>
        <meta name="generator" content="Nicepage 3.7.2, nicepage.com">
        <link id="u-theme-google-font" rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    </head>



    <section class="u-align-left u-border-1 u-border-grey-75 u-clearfix u-image u-lightbox u-parallax u-section-1"
        id="carousel_a197">
        <div class="u-clearfix u-sheet u-sheet-1">

            <!-- <div class="text-container">
                <h1>Football Summer Festival</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quos reprehenderit iusto excepturi magni
                    sapiente debitis cumque dolor sit, hic quo officia odit, quas delectus, assumenda incidunt. Officia,
                    dolorem illo?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore ex veritatis
                    aspernatur, est cum iste sed debitis illum fugiat. Fugit libero ut consequatur neque aspernatur
                    recusandae voluptate, perferendis iusto?</p> 
        </div> -->

            <h2 class="u-align-left u-text u-text-body-alt-color u-text-1">Football Summer Festival</h2>
            <p class="u-large-text u-text u-text-body-alt-color u-text-variant u-text-2">Pharetra vel turpis nunc
                eget
                lorem
                dolor sed viverra. Lobortis mattis aliquam faucibus purus in. Ut placerat orci nulla pellentesque
                dignissim.
                Proin fermentum leo vel orci porta non pulvinar neque. Donec ac odio tempor orci dapibus ultrices.
                Eget
                sit amet
                tellus cras adipiscing enim. Dolor morbi non arcu risus quis varius quam. <br>
            </p>


            <a href="https://nicepage.com/web-design"
                class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-3-light-1 u-radius-9 u-btn-1">register
                now!</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-parallax u-section-2" id="sec-d85b" data-image-width="1980"
        data-image-height="1367">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
                <div class="embed-responsive embed-responsive-1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bMrZ-LaOqAY?autoplay=1&mute=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-3" id="sec-b465">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-1">

                <h4 style="text-align: left;">What We Do</h4>
                <!-- <p style="text-align: left;">
                    <span style="font-style: italic;">Euismod in pellentesque massa placerat. Risus quis varius quam
                        quisque.
                        Fermentum leo vel orci porta non pulvinar neque. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Ex eaque voluptatibus nam ipsam quis saepe minus beatae at, nobis commodi
                        tenetur fugiat repudiandae optio cum perferendis explicabo sunt necessitatibus
                        soluta.&nbsp;</span>
                </p> -->
                <p style="text-align: left;">
                    <span style="line-height: 2.0;">Sample text. Click to select the text box. Click again or double
                        click to
                        start editing the text. Dictum non consectetur a erat nam at. Aliquam malesuada bibendum arcu
                        vitae
                        elementum curabitur vitae. Tellus mauris a diam maecenas sed enim ut sem. Ipsum faucibus vitae
                        aliquet nec
                        ullamcorper sit amet risus nullam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cupiditate exercitationem, dolor amet rem suscipit nesciunt dolores laudantium provident unde
                        obcaecati ratione harum consequuntur et assumenda, tempora velit eligendi est
                        pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, minus architecto
                        accusantium, explicabo aliquid deleniti illo quibusdam minima, labore illum voluptatum
                        recusandae dolore harum! Ducimus alias quibusdam aut sunt cumque!&nbsp;</span>
                </p>
            </div>
            <!-- <a href="#"
                class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-5-dark-3 u-radius-6 u-btn-1">
                Get registered now!</a> -->
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="sec-314d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Design Perfection</h1>
            <p class="u-text u-text-2">We’re a small creative design studio based in New York, working with adventurous
                clients and providing Creative Concept, Branding, Graphic Design, Art Direction and Digital
                Communication
                services.</p>
            <a href="#"
                class="u-btn u-btn-rectangle u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-palette-2-base u-radius-0 u-btn-1">Register
                Now</a>
        </div>
    </section>





    <button>One person</button>
    <button>Whole team</button>

    <div style="height:900px;">
    </div>























    <!-- <section class="u-align-left u-border-1 u-border-grey-75 u-clearfix u-image u-lightbox u-parallax u-section-1"
        id="carousel_a197">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-left u-text u-text-body-alt-color u-text-1">Football Summer Festival</h2>
            <p class="u-large-text u-text u-text-body-alt-color u-text-variant u-text-2">Pharetra vel turpis nunc eget
                lorem
                dolor sed viverra. Lobortis mattis aliquam faucibus purus in. Ut placerat orci nulla pellentesque
                dignissim.
                Proin fermentum leo vel orci porta non pulvinar neque. Donec ac odio tempor orci dapibus ultrices. Eget
                sit amet
                tellus cras adipiscing enim. Dolor morbi non arcu risus quis varius quam. <br>
            </p>
            <a href="https://nicepage.com/web-design"
                class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-3-light-1 u-radius-9 u-btn-1">register
                now!</a>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-custom-color-2 u-section-3" id="sec-b465">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
                <p style="text-align: left;">
                    <span style="line-height: 2.0;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
                        voluptas quam nostrum sit recusandae non natus ex nesciunt labore? Molestiae enim accusamus
                        ducimus voluptatibus omnis reiciendis perspiciatis adipisci incidunt alias! Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Reiciendis vero debitis repellat? Amet iste odio quod,
                        vitae reiciendis harum libero nisi doloremque consequuntur. Esse consequatur illum maiores illo
                        mollitia qui? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi velit, cupiditate
                        aliquid perferendis facilis dolores, labore cumque exercitationem obcaecati libero sit quibusdam
                        fugit. Dolores ut impedit pariatur! Quaerat, perspiciatis rem.&nbsp;</span>
                </p>
                <h4 style="text-align: left;">What We Do</h4>
                <p style="text-align: left;">
                    <span style="font-style: italic;">Euismod in pellentesque massa placerat. Risus quis varius quam
                        quisque.
                        Fermentum leo vel orci porta non pulvinar neque.&nbsp;</span>
                </p>
                <h4 style="text-align: left;">About Us</h4>
                <p style="text-align: left;">
                    <span style="font-style: italic;">Pretium vulputate sapien nec sagittis aliquam malesuada bibendum
                        arcu vitae.
                        Viverra aliquet eget sit amet. Platea dictumst vestibulum rhoncus est.&nbsp;</span>
                </p>
            </div>
            <a href="#"
                class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-5-dark-3 u-radius-6 u-btn-1">
                Get registered now!</a>
        </div>
    </section>

    <div class="backImage"></div>



    <section class="u-align-center u-clearfix u-image u-parallax u-section-2" id="sec-d85b" data-image-width="1980"
        data-image-height="1367">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
                <div class="embed-responsive embed-responsive-1">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                        class="embed-responsive-item"
                        src="https://www.youtube.com/embed/L-hm3S1aSnI?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0&amp;autoplay=1"
                        frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>






    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="sec-314d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-1">Design Perfection</h1>
            <p class="u-text u-text-2">We’re a small creative design studio based in New York, working with adventurous
                clients and providing Creative Concept, Branding, Graphic Design, Art Direction and Digital
                Communication services.</p>
            <a href="#"
                class="u-btn u-btn-rectangle u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-palette-2-base u-radius-0 u-btn-1">Learn
                more</a>
        </div>
    </section> -->