<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/nicepage.css">
        <link rel="stylesheet" href="stylesheets/about-talent.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script class="u-script" type="text/javascript" src="/scripts/nicepage.js" defer=""></script>
    </head>


    <div class="wrapper">
        <section class="u-clearfix u-palette-3-light-3 u-section-1" id="sec-27d0">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div
                                class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-1">
                                    <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="256"
                                        data-image-height="256"></div>
                                </div>
                            </div>
                            <div
                                class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h2 class="u-text u-text-1">Olivia Colman</h2>
                                    <p class="u-text u-text-2">Paragraph. Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus
                                        quis elementum. Phasellus sed efficitur dolor, et ultricies sapien. Quisque
                                        fringilla sit amet dolor commodo efficitur. Aliquam et sem odio. In ullamcorper
                                        nisi nunc, et molestie ipsum iaculis sit amet.</p>
                                    <!-- <a href="" class="u-btn u-button-style u-btn-1">Button</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- <h1>Some of my work</h1> -->
        <div class="myGallery">
            <!-- <img src="https://picsum.photos/190/190?1" />
            <img src="https://picsum.photos/190/190?2" />
            <img src="https://picsum.photos/190/190?3" />
            <img src="https://picsum.photos/190/190?4" />
            <img src="https://picsum.photos/190/190?5" />
            <img src="https://picsum.photos/190/190?6" />
            <img src="https://picsum.photos/190/190?7" />
            <img src="https://picsum.photos/190/190?8" />
            <img src="https://picsum.photos/190/190?9" />
            <img src="https://picsum.photos/190/190?10" /> -->
            <div class="item">
                <img src="https://picsum.photos/190/190?11" />
                <span class="caption">This is an image caption for image 11</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?12" />
                <span class="caption">This is an image caption for image 12</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?13" />
                <span class="caption">This is an image caption for image 13</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?14" />
                <span class="caption">This is an image caption for image 14</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?15" />
                <span class="caption">This is an image caption for image 15</span>
            </div>

            <div class="item">
                <img src="https://picsum.photos/190/190?11" />
                <span class="caption">This is an image caption for image 11</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?12" />
                <span class="caption">This is an image caption for image 12</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?13" />
                <span class="caption">This is an image caption for image 13</span>
            </div>
            <div class="item">
                <img src="https://picsum.photos/190/190?14" />
                <span class="caption">This is an image caption for image 14</span>
            </div>

        </div>
        <div class="displayImage"></div>
    </div>


    <div class="margin-bot"></div>



    <script>
        const items = document.querySelectorAll(".item");
        items.forEach(item => {
            // console.log(item);
            item.addEventListener('mouseover', event => {
                // item.style.transfrom = "scale(2.0)";
                // item.style.transform = "scale(1.5)";
                item.classList.add("zoomImage");
                // console.log(item);
            })
            // item.addEventListener('mouseover', event => {
            //     event.style.transform = "scale(2.0)";
            // })

            item.addEventListener('mouseout', event => {
                // item.style.transform = "scale(1.0)";
                item.classList.remove("zoomImage");
            })
        })

    </script>