<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/nicepage.css">
        <link rel="stylesheet" href="stylesheets/talent-agency.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    </head>


    <div class="main-container">

        <!-- Lets try this -->
        <section class="u-align-center u-clearfix u-grey-10 u-typography-Normal--Introduction u-section-1" src=""
            id="carousel_91d5">
            <img class="u-expanded-width u-image u-image-1" src="photoshoot-talent-agency.jpg" data-image-width="1980"
                data-image-height="1320">
            <h1
                class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-1 no-overflow">
                Talent Agency</h1>
            <h5 class="u-custom-font u-font-open-sans u-text u-text-body-alt-color u-text-2">Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Culpa voluptates voluptatem accusamus maiores qui quae? Soluta doloribus
                enim.</h5>
            <div class="u-list u-repeater u-list-1">
                <div
                    class="u-align-center u-border-1 u-border-grey-15 u-container-style u-list-item u-repeater-item u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-container-layout-1"><span
                            class="u-align-center u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-1"><svg
                                class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5db0"></use>
                            </svg><svg class="u-svg-content" id="svg-5db0">
                                <g id="XMLID_1184_">
                                    <g id="XMLID_176_">
                                        <path id="XMLID_178_"
                                            d="m318.006 211.841c-16.814 0-33.145 3.261-48.537 9.69-5.096 2.129-7.501 7.986-5.373 13.082 2.129 5.097 7.986 7.499 13.082 5.373 12.938-5.405 26.674-8.145 40.828-8.145 58.449 0 106 47.552 106 106s-47.551 106-106 106-106-47.552-106-106c0-14.132 2.732-27.85 8.121-40.77 2.126-5.098-.283-10.953-5.38-13.079-5.094-2.123-10.953.283-13.079 5.38-6.411 15.373-9.662 31.68-9.662 48.469 0 69.477 56.523 126 126 126s126-56.523 126-126-56.523-126-126-126z">
                                        </path>
                                        <path id="XMLID_711_"
                                            d="m318.006 419.841c45.215 0 82-36.785 82-82s-36.785-82-82-82-82 36.785-82 82 36.786 82 82 82zm0-144c34.187 0 62 27.814 62 62s-27.813 62-62 62-62-27.813-62-62 27.813-62 62-62z">
                                        </path>
                                        <path id="XMLID_714_"
                                            d="m461.284 163.841h-30.42l-34.915-59.087c-1.799-3.045-5.073-4.913-8.609-4.913h-138.667c-3.537 0-6.81 1.868-8.609 4.913l-34.915 59.087h-57.149v-12c0-19.851-16.149-36-36-36s-36 16.149-36 36v12h-25.284c-27.965 0-50.716 22.751-50.716 50.717v246.566c0 27.966 22.751 50.717 50.716 50.717h410.567c27.965 0 50.716-22.751 50.716-50.717v-246.566c.001-27.966-22.751-50.717-50.715-50.717zm-206.905-44h127.254l26 44h-179.254zm-158.379 32c0-8.822 7.178-16 16-16s16 7.178 16 16v12h-32zm396 309.283c0 16.938-13.779 30.717-30.716 30.717h-410.568c-16.937 0-30.716-13.78-30.716-30.717v-246.566c0-16.938 13.779-30.717 30.716-30.717h410.567c16.937 0 30.716 13.779 30.716 30.717v246.566z">
                                        </path>
                                        <path id="XMLID_717_"
                                            d="m318.006 318.341c10.753 0 19.5 8.748 19.5 19.5 0 5.523 4.477 10 10 10s10-4.477 10-10c0-21.78-17.72-39.5-39.5-39.5-5.523 0-10 4.478-10 10s4.477 10 10 10z">
                                        </path>
                                        <path id="XMLID_718_"
                                            d="m318.006 73.532c5.523 0 10-4.478 10-10v-53.373c0-5.522-4.477-10-10-10s-10 4.477-10 10v53.373c0 5.523 4.477 10 10 10z">
                                        </path>
                                        <path id="XMLID_719_"
                                            d="m365.591 73.532c2.559 0 5.119-.977 7.071-2.929l36.691-36.691c3.905-3.905 3.905-10.237-.001-14.143-3.905-3.904-10.237-3.904-14.142 0l-36.69 36.692c-3.905 3.905-3.905 10.237 0 14.143 1.953 1.952 4.512 2.928 7.071 2.928z">
                                        </path>
                                        <path id="XMLID_720_"
                                            d="m263.35 70.604c1.953 1.952 4.512 2.929 7.071 2.929s5.119-.977 7.071-2.929c3.905-3.905 3.906-10.237.001-14.143l-36.691-36.691c-3.905-3.903-10.237-3.904-14.142 0-3.905 3.905-3.906 10.237-.001 14.143z">
                                        </path>
                                        <path id="XMLID_730_"
                                            d="m138 245.841h-52c-5.523 0-10 4.478-10 10 0 5.523 4.477 10 10 10h52c5.523 0 10-4.477 10-10s-4.477-10-10-10z">
                                        </path>
                                        <path id="XMLID_731_"
                                            d="m235.96 265.84c2.63 0 5.21-1.07 7.07-2.93s2.93-4.431 2.93-7.07c0-2.63-1.07-5.21-2.93-7.07-1.86-1.859-4.44-2.93-7.07-2.93s-5.21 1.07-7.07 2.93c-1.87 1.86-2.93 4.441-2.93 7.07 0 2.63 1.06 5.21 2.93 7.07 1.86 1.86 4.43 2.93 7.07 2.93z">
                                        </path>
                                    </g>
                                </g>
                            </svg></span>
                        <h4 class="u-custom-font u-font-raleway u-text u-text-3">Photographers</h4>
                        <p class="u-text u-text-grey-50 u-text-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit nullam nunc
                            justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-1 u-border-grey-15 u-container-style u-list-item u-repeater-item u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-2"><span
                            class="u-align-center u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-2"><svg
                                class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-60b0"></use>
                            </svg><svg class="u-svg-content" id="svg-60b0">
                                <g>
                                    <path
                                        d="m504.928 233.267c-4.397-2.739-9.897-3.013-14.548-.727l-100.38 49.367v-15.907c0-23.447-14.754-43.503-35.46-51.401 21.734-19.251 35.46-47.35 35.46-78.599 0-57.897-47.103-105-105-105-38.151 0-71.612 20.455-90 50.971-18.388-30.516-51.849-50.971-90-50.971-57.897 0-105 47.103-105 105 0 31.249 13.726 59.348 35.46 78.599-20.706 7.898-35.46 27.954-35.46 51.401v160c0 30.327 24.673 55 55 55h280c30.327 0 55-24.673 55-55v-15.907l100.38 49.367c2.094 1.03 4.359 1.54 6.619 1.54 2.76 0 5.511-.761 7.929-2.267 4.398-2.738 7.072-7.552 7.072-12.733v-200c0-5.181-2.674-9.995-7.072-12.733zm-219.928-172.267c41.355 0 75 33.645 75 75s-33.645 75-75 75-75-33.645-75-75 33.645-75 75-75zm-73.404 150h-33.192c6.377-6.242 11.965-13.286 16.596-20.971 4.631 7.685 10.219 14.729 16.596 20.971zm-181.596-75c0-41.355 33.645-75 75-75s75 33.645 75 75-33.645 75-75 75-75-33.645-75-75zm330 290c0 13.785-11.215 25-25 25h-280c-13.785 0-25-11.215-25-25v-160c0-13.785 11.215-25 25-25h280c13.785 0 25 11.215 25 25v40 80zm122-4.093-92-45.246v-61.322l92-45.246z">
                                    </path>
                                    <path
                                        d="m105 181c24.813 0 45-20.187 45-45s-20.187-45-45-45-45 20.187-45 45 20.187 45 45 45zm0-60c8.271 0 15 6.729 15 15s-6.729 15-15 15-15-6.729-15-15 6.729-15 15-15z">
                                    </path>
                                    <path
                                        d="m285 181c24.813 0 45-20.187 45-45s-20.187-45-45-45-45 20.187-45 45 20.187 45 45 45zm0-60c8.271 0 15 6.729 15 15s-6.729 15-15 15-15-6.729-15-15 6.729-15 15-15z">
                                    </path>
                                    <path
                                        d="m315 271h-110c-8.284 0-15 6.716-15 15v90c0 8.284 6.716 15 15 15h110c8.284 0 15-6.716 15-15v-90c0-8.284-6.716-15-15-15zm-15 90h-80v-60h80z">
                                    </path>
                                    <path
                                        d="m145 391h-70c-8.284 0-15 6.716-15 15s6.716 15 15 15h70c8.284 0 15-6.716 15-15s-6.716-15-15-15z">
                                    </path>
                                    <path
                                        d="m145 331h-70c-8.284 0-15 6.716-15 15s6.716 15 15 15h70c8.284 0 15-6.716 15-15s-6.716-15-15-15z">
                                    </path>
                                </g>
                            </svg></span>
                        <h4 class="u-custom-font u-font-raleway u-text u-text-5">Videographer</h4>
                        <p class="u-text u-text-grey-50 u-text-6">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit nullam nunc
                            justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-1 u-border-grey-15 u-container-style u-list-item u-repeater-item u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-3"><span
                            class="u-align-center u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-3"><svg
                                class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1a34"></use>
                            </svg><svg class="u-svg-content" id="svg-1a34">
                                <g id="Outline">
                                    <path
                                        d="M360,280a8,8,0,0,0-3.884-6.86l-36.271-21.762-7.318-212.2A23.907,23.907,0,0,0,288.542,16H223.458a23.907,23.907,0,0,0-23.985,23.173l-7.318,212.205L155.884,273.14A8,8,0,0,0,152,280v52.67a397.408,397.408,0,0,0,28.549,148.244A23.886,23.886,0,0,0,202.833,496H309.167a23.886,23.886,0,0,0,22.284-15.086A397.408,397.408,0,0,0,360,332.67ZM223.458,32h65.084a7.969,7.969,0,0,1,8,7.725L303.719,248H208.281l7.182-208.276A7.969,7.969,0,0,1,223.458,32Zm85.709,448H202.833a7.963,7.963,0,0,1-7.429-5.029q-3.3-8.259-6.206-16.624A63.481,63.481,0,0,0,215.36,464h81.28a63.465,63.465,0,0,0,26.162-5.653q-2.909,8.363-6.206,16.624A7.963,7.963,0,0,1,309.167,480ZM344,332.67a381.448,381.448,0,0,1-14.2,103.323l-8.743,5.246A47.483,47.483,0,0,1,296.64,448H215.36a47.479,47.479,0,0,1-24.414-6.76l-8.745-5.247A381.448,381.448,0,0,1,168,332.67V284.529L202.216,264H309.784L344,284.529Z">
                                    </path>
                                    <path
                                        d="M107.4,474.971q-3.3-8.259-6.206-16.624A63.481,63.481,0,0,0,127.36,464H152V448H127.36a47.479,47.479,0,0,1-24.414-6.76L94.2,435.993A381.448,381.448,0,0,1,80,332.67V284.529L114.216,264H152V248H120.281l7.182-208.276a7.969,7.969,0,0,1,8-7.724H184V16H135.458a23.907,23.907,0,0,0-23.985,23.173l-7.318,212.205L67.884,273.14A8,8,0,0,0,64,280v52.67A397.408,397.408,0,0,0,92.549,480.914,23.886,23.886,0,0,0,114.833,496H168V480H114.833A7.963,7.963,0,0,1,107.4,474.971Z">
                                    </path>
                                    <path
                                        d="M444.116,273.14l-36.271-21.762-7.318-212.2A23.907,23.907,0,0,0,376.542,16H328V32h48.542a7.969,7.969,0,0,1,8,7.725L391.719,248H360v16h37.784L432,284.529V332.67a381.448,381.448,0,0,1-14.2,103.323l-8.743,5.246A47.483,47.483,0,0,1,384.64,448H360v16h24.64a63.465,63.465,0,0,0,26.162-5.653q-2.909,8.363-6.206,16.624A7.963,7.963,0,0,1,397.167,480H344v16h53.167a23.886,23.886,0,0,0,22.284-15.086A397.408,397.408,0,0,0,448,332.67V280A8,8,0,0,0,444.116,273.14Z">
                                    </path>
                                    <rect x="248" y="296" width="16" height="16"></rect>
                                    <rect x="232" y="328" width="48" height="16"></rect>
                                </g>
                            </svg></span>
                        <h4 class="u-custom-font u-font-raleway u-text u-text-7">Nail Technician</h4>
                        <p class="u-text u-text-grey-50 u-text-8">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit nullam nunc
                            justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-1 u-border-grey-15 u-container-style u-list-item u-repeater-item u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-4"><span
                            class="u-align-center u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-4"><svg
                                class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-91e3"></use>
                            </svg><svg class="u-svg-content" id="svg-91e3">
                                <g id="outline">
                                    <path
                                        d="M88,375.017V332a12.013,12.013,0,0,0-12-12H64V288h8a8,8,0,0,0,0-16H64v-8H80a8,8,0,0,0,0-16H64v-8H80a8,8,0,0,0,0-16H64v-8h8a8,8,0,0,0,0-16H64v-8a8,8,0,0,0-16,0v8H40a8,8,0,0,0,0,16h8v8H32a8,8,0,0,0,0,16H48v8H32a8,8,0,0,0,0,16H48v8H40a8,8,0,0,0,0,16h8v32H36a12.013,12.013,0,0,0-12,12v43.017L16.239,406.06A7.977,7.977,0,0,0,16,408v68a20.023,20.023,0,0,0,20,20H76a20.023,20.023,0,0,0,20-20V408a7.977,7.977,0,0,0-.239-1.94ZM38.246,384H73.754l4,16H34.246ZM40,336H72v32H40ZM76,480H36a4,4,0,0,1-4-4V416H80v60A4,4,0,0,1,76,480Z">
                                    </path>
                                    <path
                                        d="M440,16H360a40.045,40.045,0,0,0-40,40v1.837a39.818,39.818,0,0,0,2.861,14.856L352,145.541V200a8.072,8.072,0,0,0,.08,1.131l7.94,55.579,1.181,34.231A112.033,112.033,0,0,0,184,310.26V264a40.045,40.045,0,0,0-40-40H128a8,8,0,0,0-8,8V352a8,8,0,0,0-8,8V480a16.019,16.019,0,0,0,16,16h48a15.972,15.972,0,0,0,12.881-6.549A43.853,43.853,0,0,0,212,496H348a43.717,43.717,0,0,0,20.544-5.107A8,8,0,0,0,376,496h48a8,8,0,0,0,8-7.724L439.98,256.71l7.94-55.579A8.072,8.072,0,0,0,448,200V145.541l29.139-72.848A39.825,39.825,0,0,0,480,57.837V56A40.045,40.045,0,0,0,440,16Zm-8,136v47.432L425.062,248H416V216a8,8,0,0,0-16,0v32H374.938L368,199.432V152ZM214.6,297.718A96,96,0,0,1,357.982,424H337.171A79.984,79.984,0,1,0,222.8,424H192V360a8,8,0,0,0-6.684-7.883A95.653,95.653,0,0,1,214.6,297.718ZM311,424h-3.648l30.076-84.209A63.965,63.965,0,0,1,311,424Zm-20.639,0H267.307l40.164-113.793a64.3,64.3,0,0,1,18.7,13.54Zm-40.022,0H249a64.529,64.529,0,0,1-11-7.663L277.641,304.06c.784-.029,1.568-.06,2.359-.06a63.974,63.974,0,0,1,12.273,1.194Zm-24.381-21.606A64.091,64.091,0,0,1,259.5,307.388ZM310.629,440A24.042,24.042,0,0,1,288,456H272a24.031,24.031,0,0,1-22.488-15.646C249.943,440.27,310.629,440,310.629,440ZM128,368h48v16H128Zm8-104.022A39.788,39.788,0,0,0,160,272h8v48H136ZM166.624,256H160a24.039,24.039,0,0,1-22.624-16H144A24.039,24.039,0,0,1,166.624,256ZM136,336h32v16H136Zm40,144H128V400h48l.007,80Zm36,0a27.882,27.882,0,0,1-20-8.416V440h40.805A40.067,40.067,0,0,0,272,472h16A40.067,40.067,0,0,0,327.2,440H376v12a28.032,28.032,0,0,1-28,28Zm204.271,0h-32.8l-.037-.548a8.118,8.118,0,0,0-.174-1.158A43.764,43.764,0,0,0,392,452V432a8,8,0,0,0-8-8h-6.989A111.951,111.951,0,0,0,378,313.834L376.281,264H423.72ZM464,57.837a23.859,23.859,0,0,1-1.717,8.912h0L434.584,136h-7.978l13.086-45.8a8,8,0,1,0-15.384-4.4L409.965,136H408V88a8,8,0,0,0-16,0v48h-1.965L375.692,85.8a8,8,0,1,0-15.384,4.4L373.394,136h-7.978l-27.7-69.251A23.859,23.859,0,0,1,336,57.837V56a24.027,24.027,0,0,1,24-24h80a24.027,24.027,0,0,1,24,24Z">
                                    </path>
                                    <path d="M408,192a8,8,0,0,0,8-8v-8a8,8,0,0,0-16,0v8A8,8,0,0,0,408,192Z"></path>
                                </g>
                            </svg></span>
                        <h4 class="u-custom-font u-font-raleway u-text u-text-9">Makeup</h4>
                        <p class="u-text u-text-grey-50 u-text-10">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit nullam nunc
                            justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
                <div
                    class="u-align-center u-border-1 u-border-grey-15 u-container-style u-list-item u-repeater-item u-video-cover u-white">
                    <div class="u-container-layout u-similar-container u-container-layout-5"><span
                            class="u-align-center u-border-2 u-border-custom-color-1 u-icon u-icon-circle u-spacing-10 u-text-custom-color-1 u-icon-5"><svg
                                class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-062a"></use>
                            </svg><svg class="u-svg-content" id="svg-062a" style="enable-background:new 0 0 512 512;">
                                <g>
                                    <g>
                                        <path
                                            d="M505.316,6.671c-0.025-0.024-0.052-0.045-0.076-0.069C501.005,2.405,495.169,0,489.212,0h-0.03    c-5.149,0-10.189,1.77-14.189,4.979c-54.449,43.49-109.099,88.38-162.438,133.42c-12.97,10.951-25.951,21.988-38.92,33.086    L125.557,23.409c-14.622-14.62-38.412-14.618-53.033,0L2.197,93.737c-2.929,2.93-2.929,7.678,0,10.607    c2.929,2.928,7.678,2.928,10.606,0L61.918,55.23l10.733,10.733l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607    c1.464,1.464,3.384,2.196,5.303,2.196c1.919,0,3.839-0.732,5.303-2.196L83.258,76.57l10.733,10.733l-49.115,49.114    c-2.929,2.93-2.929,7.678,0,10.607c1.464,1.464,3.384,2.196,5.303,2.196s3.839-0.732,5.303-2.196l49.115-49.115l10.733,10.733    l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.464,1.464,3.384,2.196,5.303,2.196c1.919,0,3.839-0.732,5.303-2.196    l49.114-49.114l10.733,10.733l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.464,1.464,3.384,2.196,5.303,2.196    s3.839-0.732,5.303-2.196l49.114-49.114l10.733,10.733l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607    c1.464,1.464,3.384,2.196,5.303,2.196s3.839-0.732,5.303-2.196l49.114-49.114l10.733,10.733l-49.114,49.114    c-2.929,2.93-2.929,7.678,0,10.607c1.464,1.464,3.384,2.196,5.303,2.196s3.839-0.732,5.303-2.196l49.114-49.114l10.734,10.734    l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.464,1.464,3.384,2.196,5.303,2.196c1.919,0,3.839-0.732,5.303-2.196    l49.115-49.115l11.111,11.111c-23.029,20.055-45.939,40.229-68.591,60.428c-0.01,0-0.01,0-0.01,0.011    c-6.729,5.985-14.069,12.879-21.31,19.409c-4.436,3.209-3.591,8.85-1.39,11.051c0,0,0,0.01,0.01,0.01    c7.22,8.74,11.21,19.9,11.21,31.439c0,13.49-5.19,26.11-14.619,35.53c-0.095,0.095-22.522,22.523-22.62,22.62    C72.47,429.593,15.033,406.818,15,359.55c0.02-28.697,23.197-52.399,52.479-52.42c15.949,0.01,30.839,7.11,40.849,19.46    c2.715,3.346,7.7,3.708,10.86,0.84c0.04-0.03,0.07-0.06,0.11-0.1l0.07-0.061c3.513-3.158,3.265-8.849-0.66-11.66    c-12.82-14.92-31.47-23.479-51.179-23.479h-0.1c-37.498,0-67.472,30.535-67.428,67.42c-0.033,27.794,16.952,52.344,42.079,62.55    c14.92,6.042,31.264,6.458,46.028,1.725C74.036,467.601,106.787,512,152.307,512h0.08c37.196,0,67.51-30.112,67.469-67.46    c0.02-17.75-6.82-34.5-19.23-47.181c0.007-0.008,15.314-17.409,15.314-17.409c27.02-30.067,53.747-60.271,80.15-90.548l11.3,11.3    l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196    l49.114-49.114l10.733,10.733l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196    c1.919,0,3.839-0.732,5.304-2.196l49.114-49.114l10.732,10.732l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607    c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196l49.114-49.114l10.732,10.732l-49.114,49.115    c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196l49.114-49.115    l10.733,10.733l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196    c1.919,0,3.839-0.732,5.304-2.196l49.114-49.114l10.732,10.732l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607    c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196l49.114-49.114l10.732,10.732l-49.114,49.114    c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196c1.919,0,3.839-0.732,5.304-2.196l49.114-49.114    l10.732,10.732l-49.114,49.114c-2.929,2.93-2.929,7.678,0,10.607c1.465,1.464,3.385,2.196,5.304,2.196    c1.919,0,3.839-0.732,5.304-2.196l54.41-54.411c0.002-0.002,0.005-0.005,0.008-0.007c0.003-0.002,0.005-0.005,0.007-0.008    l15.902-15.902c7.083-7.083,10.984-16.5,10.984-26.517c0-10.017-3.901-19.434-10.983-26.517L340.352,238.205    c57.504-67.082,113.25-134.367,166.663-201.215C514.263,27.919,513.531,14.885,505.316,6.671z M72.525,44.623l10.606-10.606    c8.772-8.772,23.047-8.772,31.82,0l147.268,147.269c-9.501,8.162-18.994,16.346-28.468,24.565L72.525,44.623z M477.984,397.05    c4.25,4.249,6.591,9.899,6.591,15.909s-2.341,11.66-6.591,15.909l-10.606,10.606C462.422,434.52,316.603,288.7,305.962,278.06    c8.23-9.473,16.432-18.952,24.594-28.437L477.984,397.05z M208.956,365.264c-3.635-2.783-13.327-7.601-14.939-21.285    c-0.45-3.779-3.64-6.62-7.43-6.62c-4.531,0-7.984,3.935-7.47,8.381c0.01,0,0.01,0,0.01,0c1.43,12.229,8.07,23.04,18.21,29.649    c0.53,0.351,1.06,0.71,1.61,1.11c-5.202,5.935-9.496,10.932-14.42,16.37c-1.37,1.52-2.07,3.569-1.91,5.609    c0.15,2.04,1.16,3.96,2.75,5.25c12.587,10.275,19.478,25.063,19.49,40.811c-0.021,28.904-23.306,52.44-52.499,52.46    c-28.854-0.038-52.499-23.293-52.499-52.46c0.034-23.737,15.047-36.449,16.2-38.08l22.25-22.25    c12.258-12.258,19.019-28.842,19.019-46.141c0.01-12.64-3.61-24.85-10.449-35.289c5.872-5.37,10.979-10.135,16.91-15.421    l0.03-0.04C326.433,142.326,482.44,17.689,485.372,16.01c-2.011,2.011-294.635,294.509-295.985,296.03    c-2.75,3.1-2.46,7.85,0.63,10.59c3.106,2.766,7.863,2.442,10.59-0.63c0.897-1.022,293.229-293.247,295.372-295.39    C495.366,27.689,374.581,180.679,208.956,365.264z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M94.026,333.076c-23.657-23.656-64.022-6.61-64.02,26.511c0,10.011,3.903,19.426,10.99,26.512    c7.311,7.31,16.911,10.963,26.515,10.963c9.601,0,19.205-3.655,26.515-10.963C108.663,371.465,108.665,347.711,94.026,333.076z     M83.421,375.491c-8.773,8.769-23.047,8.771-31.82,0c-14.05-14.049-4.212-38.387,15.91-38.387    C87.691,337.105,97.407,361.507,83.421,375.491z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M152.361,407.051c-15.421,0-28.668,8.854-34.572,23.108c-5.933,14.324-2.845,29.995,8.058,40.896    c7.242,7.24,16.571,11.036,26.205,11.036c4.867,0,9.813-0.97,14.603-2.954c14.313-5.93,23.205-19.186,23.205-34.595    C189.859,423.87,173.038,407.051,152.361,407.051z M160.913,465.28c-6.71,2.778-16.659,2.969-24.462-4.832    c-7.807-7.806-7.6-17.799-4.805-24.549c2.773-6.695,9.671-13.849,20.714-13.849c12.406,0,22.499,10.09,22.499,22.492    C174.859,455.572,167.655,462.487,160.913,465.28z">
                                        </path>
                                    </g>
                                </g>
                            </svg></span>
                        <h4 class="u-custom-font u-font-raleway u-text u-text-11">Hair stylists</h4>
                        <p class="u-text u-text-grey-50 u-text-12">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit nullam nunc
                            justo sagittis suscipit ultrices.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>












    <script>
        $(window).load(function () {
            $('.post-module').hover(function () {
                $(this).find('.description').stop().animate({
                    height: "toggle",
                    opacity: "toggle"
                }, 300);
            });
        });

        $(".u-list-item").click(function () {
            // alert("Ok someone clicked;");
            window.location.href = '/talent';
        })
    </script>