<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/events.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>

    <div class="main-container">

    </div>