<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="stylesheets/home.css">
    </head>




    <div class="home-container">
        <div class="events-container">
            <div class="events">
                <h1>Learn about our Services</h1>
            </div>
        </div>
    </div>


    <div class="another-container">

    </div>