.u-section-1 {
    background: rgb(254,249,230);
    background: linear-gradient(90deg, rgba(254,249,230,1) 0%, rgba(248,255,150,1) 88%);
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 1042px;
    margin: 60px auto;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 420px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    background-image: url("/profile1.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 420px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: solid 2px black;
  }
  
  .u-section-1 .u-text-2 {
    margin-bottom: 0;
    margin-top: 20px;
    font-size:16px;
  }
  
  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 308px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 379px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 379px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 29px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 290px;
    }
  
    .u-section-1 .u-image-1 {
      width: 216px;
      height: 216px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 129px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 567px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 357px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  
  .u-section-2 .u-text-1 {
    margin: 60px 20px 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-2 .u-gallery-1 {
    height: 364px;
    grid-gap: 17px 17px;
    margin: 30px auto 60px;
  }
  
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px;
  }
  
  .u-section-2 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  .u-section-2 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 534px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 300px;
      grid-template-columns: auto auto auto;
      margin-right: initial;
      margin-left: initial;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 923px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 689px;
      grid-template-columns: auto auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-gallery-inner-1 {
      grid-template-columns: repeat(2, auto);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1784px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 1550px;
      grid-template-columns: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-gallery-inner-1 {
      grid-template-columns: repeat(1, auto);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1210px;
    }
  
    .u-section-2 .u-gallery-1 {
      height: 976px;
      margin-right: initial;
      margin-left: initial;
    }
  }


  .wrapper{
      margin-top:102px;
      margin-bottom: 500px;
  }


  /* Custom css */
  section *{
      overflow: hidden;
  }

  .u-gallery-item{
    /* min-height:200px; */
  }

  .u-section-2{
      height:100vh;
  }







.myGallery {
    padding:20px 5%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.myGallery img {
    width: 100%;
}

/*
And here are some declarations for the image caption.
Just hover over one of the last 5 images to see it.
*/

.myGallery .item {
    position: relative;
    overflow: hidden;
    /* transform:scale(1.0); */
    transform: all 0.2s;
}
.myGallery .item:hover{
    cursor: pointer;
}

.myGallery .item img {
    vertical-align: middle;
}

.myGallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}

    .myGallery .item:hover .caption {
    transform: translateY(0%);
}

/*
    The rest is only styling for this example page
  */

@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");

body {
    font: 400 1.5em/1.58 Vollkorn, serif;
}

.myGallery h1, .myGallery p {
    text-align: center;
}

.myGallery {
    font-size: 1rem;
    overflow: hidden;
    margin-top:40px;
}

.zoomImage{
    z-index:2;
    transform:scale(1.3);
    transition:all 0.3s;
}

.whole-container {
  margin-bottom: 0px;
}

.wrapper h1{
  margin-left:37%;
  text-align: center;
  display: inline-block;
  background-color:rgb(167, 167, 167);
  padding:24px;
  border-radius: 8px;
}